body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    background-image: url('background.png');
}

#nav {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    background-color: rgba(210, 180, 140, 1);
    text-align: center;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p, h3 {
   font-family: 'Akaya Telivigala', cursive;
   font-size: 2em;
}

footer {
    position: sticky;
    bottom: 0;
    font: bold italic 1.4em monospace;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}